<h1>Tạo danh bài viết</h1>
<form [formGroup]="tourForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Title</td>
      <td><input type="text" formControlName="title"></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><input type="text" formControlName="price"></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit">Tạo mới</button>
        <button type="submit" (click)="goBack()">Danh sách</button>
      </td>
    </tr>
  </table>
</form>

